.container {
  display: flex;
  background-color: #004D99;
  padding: 0 50px;
  box-shadow: 2px 1px 6px 0px #000;
  height: 70px;
}
.rightArea {
  margin-left: auto;
}
.container > a {
  display: block;
  height: 100%;
  box-sizing: border-box;
}
.tab {
  cursor: pointer;
  color: #739BC3;
  padding: 23px 1em;
  height: 100%;
  vertical-align: middle;
  box-sizing: border-box;
}
.container > a.active .tab {
  border-bottom: solid 5px #fff;
}
.tabNormal {
  padding: 20px 20px;
}
.tabActive {
  border-bottom: 6px solid #fff;
  color: #fff;
  padding: 20px 20px 14px 20px;
}
.subMenu {
  color: #fff;
  display: flex;
  align-items: center;
  height: 100%;
}
.timePeriod {
  /* margin-right: 10px; */
  min-width: 12.5em;
  font-size: 14px;
}
.userIcon {
  width: 20px;
  height: 20px;
  margin: 0 10px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #fff;
}
.settingIcon {
  width: 20px;
  height: 20px;
  margin: 0 10px;
}
.subMenu button {
  background: none;
  border: none;
  width: 16px;
  padding: 0;
}
.timeframe {
}
.timeframeCurrent {
  font-weight: bold;
}
