.label {
  margin: auto 1em 6px 1em;
  white-space: nowrap;
  cursor: default;
  height: 100%;
}
.label:first-child {
  margin-left: 0;
}
.dialog textarea {
  display: block;
  width: 30em;
  max-width: 30em;
  margin-top: 1em;
}
.dialog input[type=number] {
  text-align: right;
}
.progressBox, .dateRangeBox, .alignmentBox {
  display: flex;
  margin: 1em 0 0 0;
}
.inputWithTitle {
  display: flex;
  flex-direction: column;
}
.title {
  margin: 0 auto 4px auto;
  font-size: small;
  text-align: center;
}
