# The usual suspects
node_modules
npm-debug.log

# WebStorm
.idea

# Yarn
yarn.lock
.yarnclean

# cache
/skrum_symfony/var/cache/

# log
/skrum_symfony/var/logs/

# session
/skrum_symfony/var/sessions/
