@charset "UTF-8";
  /* ====================================================
  共通
  ==================================================== */
  .ttl_section {
    padding: 10px 70px;
    background: #d8dfe5;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: .5px; }

  .cont_box {
    background: #fff; }

  /* ====================================================
  タイムライン画面
  ==================================================== */
  .cont_box {
    display: flex;
    padding: 30px 70px;
    width: 100%; }
      .cont_box > div.text_area {
        width: 866px; }
        .cont_box > div.text_area textarea {
          padding: 10px;
          width: 100%;
          color: #626a7f;
          font-size: 18px;
          line-height: 1.2;
          border: 1px solid #d8dfe5;
          resize: none;
          height: 100%; /*80px;*/ }
        .cont_box > div.text_area textarea:focus {
          outline: 0;
        }
          .cont_box > div.text_area textarea::-webkit-input-placeholder {
            color: #d8dfe5;
            font-weight: 300; }
          .cont_box > div.text_area textarea::-moz-placeholder {
            color: #d8dfe5;
            font-weight: 300; }
          .cont_box > div.text_area textarea::-ms-input-placeholder {
            color: #d8dfe5;
            font-weight: 300; }
      .cont_box > section  {
        font-size: small;
        margin-left: 1em; }
      .cont_box > section > div.btn {
        vertical-align: bottom;
        margin-top: 0.5em; }
        .cont_box > section > div.btn button {
          padding: 0;
          background: none;
          border: 1px solid #8e9aa6;
          outline: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          cursor: pointer;
          width: 150px;
          height: 38px;
          font-size: 14px;
          color: #8e9aa6;
          border-radius: 19px; }
          .cont_box > section > div.btn button:hover {
            opacity: .7; }

.current_user {
  margin: 0;
}
.busy_btn {
  height: 38px;
  width: 150px;
  background: url(/img/rolling.svg) center no-repeat;
  background-size: contain;
}
