@charset "UTF-8";
  /* ====================================================
  共通
  ==================================================== */
  .ttl_section {
    padding: 14px 70px 12px;
    background: #d8dfe5;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: .5px; }

  .cont_box {
    background: #fff; }

  /* ====================================================
  タイムライン画面
  ==================================================== */
  .timeline .new_post_box {
    margin-bottom: 40px; }

  .timeline .new_post_box .cont_box {
    display: table;
    padding: 30px 70px;
    width: 100%; }
    .timeline .new_post_box .cont_box > div {
      display: table-cell; }
      .timeline .new_post_box .cont_box > div.user_name {
        width: 155px;
        vertical-align: top; }
      .timeline .new_post_box .cont_box > div dl {
        display: table; }
        .timeline .new_post_box .cont_box > div dl dt, .timeline .new_post_box .cont_box > div dl dd {
          display: table-cell;
          vertical-align: middle; }
        .timeline .new_post_box .cont_box > div dl dd {
          padding-left: 10px;
          font-size: 14px; }
      .timeline .new_post_box .cont_box > div.text_area {
        width: 866px; }
        .timeline .new_post_box .cont_box > div.text_area textarea {
          padding: 10px;
          width: 100%;
          color: #626a7f;
          font-size: 18px;
          line-height: 1.2;
          border: 1px solid #d8dfe5;
          resize: none;
          height: 80px; }
          .timeline .new_post_box .cont_box > div.text_area textarea::-webkit-input-placeholder {
            color: #d8dfe5;
            font-weight: 300; }
          .timeline .new_post_box .cont_box > div.text_area textarea::-moz-placeholder {
            color: #d8dfe5;
            font-weight: 300; }
          .timeline .new_post_box .cont_box > div.text_area textarea::-ms-input-placeholder {
            color: #d8dfe5;
            font-weight: 300; }
      .timeline .new_post_box .cont_box > div.btn {
        vertical-align: bottom;
        padding-left: 70px; }
        .timeline .new_post_box .cont_box > div.btn button {
          padding: 0;
          background: none;
          border: 1px solid #8e9aa6;
          outline: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          cursor: pointer;
          width: 150px;
          height: 38px;
          font-size: 14px;
          color: #8e9aa6;
          border-radius: 19px; }
          .timeline .new_post_box .cont_box > div.btn button:hover {
            opacity: .7; }

  .timeline .timeline_box {
    position: relative; }
    .timeline .timeline_box:before {
      content: '';
      position: absolute;
      top: 82px;
      left: 0;
      height: 100%;
      width: 1px;
      background: #8e9aa6; }
    .timeline .timeline_box .icn_circle {
      position: absolute;
      top: 50%;
      left: -5px;
      margin-top: -6px;
      width: 12px;
      height: 12px;
      background: #fff;
      border: 3px solid #8e9aa6;
      border-radius: 50%; }

  .timeline .timeline_block {
    position: relative; }
    .timeline .timeline_block:not(:first-of-type) .timeline_content {
      background: #f9f9f9; }
    .timeline .timeline_block:nth-of-type(3) .timeline_content {
      background: #fff; }
    .timeline .timeline_block:nth-of-type(1) .timeline_content:before,
    .timeline .timeline_block:nth-of-type(3) .timeline_content:before {
      content: '';
      position: absolute;
      top: 50%;
      right: 100%;
      margin-top: -10px;
      height: 0;
      width: 0;
      border: 10px solid transparent;
      border-right: 35px solid white; }
    .timeline .timeline_block .timeline_content {
      position: relative;
      margin-left: 70px;
      padding: 30px 70px 30px 60px;
      background: #fff;
      border-bottom: 1px solid #d8dfe5; }
      .timeline .timeline_block .timeline_content .time {
        margin-bottom: 10px;
        margin-left: 170px;
        font-size: 14px; }
        .timeline .timeline_block .timeline_content .time span {
          margin-left: 2rem; }
      .timeline .timeline_block .timeline_content .content_inner {
        display: table;
        width: 100%;
        font-size: 14px; }
        .timeline .timeline_block .timeline_content .content_inner + .time {
          margin: 5px 0 0 170px; }
        .timeline .timeline_block .timeline_content .content_inner .user_name {
          display: table-cell;
          width: 170px; }
          .timeline .timeline_block .timeline_content .content_inner .user_name dl {
            display: table;
            width: 100%; }
            .timeline .timeline_block .timeline_content .content_inner .user_name dl dt, .timeline .timeline_block .timeline_content .content_inner .user_name dl dd {
              display: table-cell;
              vertical-align: middle; }
        .timeline .timeline_block .timeline_content .content_inner .text {
          display: table-cell;
          width: 790px;
          line-height: 1.3;
          vertical-align: top; }
          .timeline .timeline_block .timeline_content .content_inner .text p {
            font-size: 16px; }
          .timeline .timeline_block .timeline_content .content_inner .text .comments {
            margin: 5px 0 0;
            color: #8e9aa6; }
            .timeline .timeline_block .timeline_content .content_inner .text .comments > span {
              display: inline-block;
              line-height: 20px; }
            .timeline .timeline_block .timeline_content .content_inner .text .comments .fb_comment {
              margin-right: 25px; }
              .timeline .timeline_block .timeline_content .content_inner .text .comments .fb_comment img {
                border-radius: 50%;
                border: 1px solid #8e9aa6; }
          .timeline .timeline_block .timeline_content .content_inner .text textarea {
            padding: 10px;
            width: 100%;
            color: #626a7f;
            font-size: 18px;
            line-height: 1.2;
            border: 1px solid #d8dfe5;
            resize: none;
            height: 40px;
            overflow: auto; }
            .timeline .timeline_block .timeline_content .content_inner .text textarea::-webkit-input-placeholder {
              color: #d8dfe5;
              font-weight: 300; }
            .timeline .timeline_block .timeline_content .content_inner .text textarea::-moz-placeholder {
              color: #d8dfe5;
              font-weight: 300; }
            .timeline .timeline_block .timeline_content .content_inner .text textarea::-ms-input-placeholder {
              color: #d8dfe5;
              font-weight: 300; }
        .timeline .timeline_block .timeline_content .content_inner .btn_more {
          display: table-cell;
          padding-left: 10px;
          vertical-align: bottom; }
        .timeline .timeline_block .timeline_content .content_inner .btn_area {
          display: table-cell;
          padding-left: 70px;
          vertical-align: bottom; }
          .timeline .timeline_block .timeline_content .content_inner .btn_area .btn {
            display: inline-block;
            margin-right: 5px; }
            .timeline .timeline_block .timeline_content .content_inner .btn_area .btn button {
              width: 38px;
              height: 38px;
              padding: 0;
              background: none;
              border: 1px solid #8e9aa6;
              outline: none;
              -webkit-appearance: none;
              -moz-appearance: none;
              appearance: none;
              cursor: pointer;
              border: 0; }
              .timeline .timeline_block .timeline_content .content_inner .btn_area .btn button:hover {
                opacity: .7; }
              .timeline .timeline_block .timeline_content .content_inner .btn_area .btn button img {
                display: block;
                margin: 0 auto;
                width: 38px;
                height: 38px;
                padding: 0;
                background: none;
                border: 1px solid #8e9aa6;
                outline: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                cursor: pointer;
                border-radius: 50%; }
                .timeline .timeline_block .timeline_content .content_inner .btn_area .btn button img:hover {
                  opacity: .7; }
            .timeline .timeline_block .timeline_content .content_inner .btn_area .btn.btn_balloon_wh img {
              background: #8e9aa6;
              border-radius: 50%; }
            .timeline .timeline_block .timeline_content .content_inner .btn_area .btn.btn_comment button {
              padding: 0;
              background: none;
              border: 1px solid #8e9aa6;
              outline: none;
              -webkit-appearance: none;
              -moz-appearance: none;
              appearance: none;
              cursor: pointer;
              width: 150px;
              height: 38px;
              font-size: 14px;
              color: #8e9aa6;
              border-radius: 19px; }
              .timeline .timeline_block .timeline_content .content_inner .btn_area .btn.btn_comment button:hover {
                opacity: .7; }
    .timeline .timeline_block:nth-of-type(2) .timeline_content {
      margin-bottom: 30px;
      border-bottom: 0; }

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 30px 60px;
  overflow: scroll;
}
.spinner {
  height: 100%;
  width: 100%;
  background: url(/img/rolling.svg) center no-repeat;
}
