@charset "UTF-8";
  /* ====================================================
  共通
  ==================================================== */
  .ttl_section {
    padding: 14px 70px 12px;
    background: #d8dfe5;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: .5px; }

  .cont_box {
    background: #fff; }

  /* ====================================================
  タイムライン画面
  ==================================================== */
  .timeline .new_post_box {
    margin-bottom: 40px;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.12); }

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 30px 60px;
  overflow-y: auto;
}
.spinner {
  height: 100%;
  width: 100%;
  background: url(/img/rolling.svg) center no-repeat;
}
