.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 0 60px;
}
.postHeader{
  color: #626A7F;
  background-color: #E6E6E6;
  width: 90%;
  padding: 10px 0px 10px 0px;
}
.postBody{
  color: #626A7F;
  background-color: #fff;
  width: 90%;
  padding: 10px 0px 10px 0px;
}
.ownerImage {
  display: inline-block;
  width: 3em;
  height: 3em;
  border: 2px solid #fff;
  background-color: #626A7F;
  border-radius: 50%;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0px 30px 0px 30px;
}
.postInput{
  display: inline-block;
  width: 700px;
  height: 40px;
  margin-right: 30px;
}
.userInfo {
  margin-top: 30px;
}
.okrList {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
}
.spinner {
  height: 100%;
  width: 100%;
  background: url(/img/rolling.svg) center no-repeat;
}
