.ratioBar {
  border-bottom: 1px solid #bfbfbf;
  padding: .5em 1em;
  margin: 0 1em;
  width: 50em;
}
.ratioEntity {
  width: 14em;
}
.ratioDetails {
  display: flex;
  align-items: center;
  height: 40px;
}
.ratioKR {
  flex: 1;
  margin: auto;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
.ratio {
  margin: auto;
  font-size: larger;
}
.ratio input {
  width:  4em;
}
.ratio span {
  margin-left: 2px;
  font-size: larger;
  vertical-align: middle;
}
.ratio button {
  padding: 0;
  border: none;
  outline: none;
  background-color: inherit;
  margin-left: 1em;
  cursor: pointer;
}
.parentOkrToChange {
  display: flex;
}
.parentOkrToChange:before {
  content: " ";
  width: 26px;
  height: calc(50px + 1em);
  border-width: 2px;
  border-bottom-style: solid;
  border-left-style: solid;
  margin-left: calc(3em + 40px/2);
  margin-right: 0;
  margin-top: -1em;
  display: block;
}
.parentEntitySubject {
  width: calc(100% - 7em);
}
