.component {
  display: flex;
  overflow: hidden;
  font-size: small;
  margin: 1px auto;
  padding: 5px 40px;
  background-color: #fff;
  color: #626A7F;
}
.keyResult {
  background-color: #fbfbfb;
}
.keyResultConnector {
  margin: auto 1em auto 0;
}
.header {
  display: flex;
  width: 100%;
  margin: auto 0;
  background-color: #fff;
}
.mapImage {
  display: none;
  width: 20px;
  height: 20px;
  min-height: 2.5em;
  margin: auto 0 auto 1em;
  /*border: 2px solid #626A7F;*/
  background-color: #626A7F;
  border-radius: 50%;
  overflow: hidden;
  box-sizing: border-box;
}
.name {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: auto 1em;
  font-size: 16px;
}
.progressBox {
  display: flex;
  margin: auto 30px auto 1em;
  width: 150px;
}
.progressPercent {
  margin-right: 4px;
  width: 4em;
  font-size: x-small;
}
.progressBar {
  height: 12px;
  border: 1px solid #fff;
}
.ownerBox {
  display: flex;
  margin: auto 0;
  width: 150px;
}
.ownerImage {
  width: 3em;
  height: 3em;
  border: 2px solid #fff;
  background-color: #626A7F;
  border-radius: 50%;
  overflow: hidden;
  box-sizing: border-box;
}
.ownerName {
  margin: auto 1em auto 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.krCount {
  margin: auto;
}
.toolImage {
  display: inline-block;
  margin: auto 1em auto 0;
  /*border: 2px solid #626A7F;*/
  background-color: #626A7F;
  border-radius: 50%;
  overflow: hidden;
  box-sizing: border-box;
  width: 20px;
}
