/* -------- CLEAR -------- */
.clear {
  clear: both; }

.cf:after {
  clear: both;
  display: block;
  content: ""; }

/* -------- CLEAR -------- */
.floatL {
  float: left; }

.floatR {
  float: right; }


.ttl {
  padding: 14px 70px 12px;
  background-color: #d8dfe5; }

.alignment {
  font-size: 12px;
  margin: -2px 0 2px 0;
  color: #8e9aa6;
}
.txt {
  font-size: 14px;
  line-height: 1.3; }

.tool {
  width: 40px;
  height: 40px;
  border: 1px solid #8e9aa6;
  border-radius: 50%;
  overflow: hidden;
  display: inline-table;
  line-height: 35px;
  text-align: center;
  vertical-align: middle;
  margin-right: 15px;
  cursor: pointer;
}
button.tool {
  background-color: inherit;
  padding: 0;
}
button.tool:focus {
  outline: 0;
}

  .boxInfo {
    width: calc(100% - 103px); }
    .boxInfo .ttl_team {
      font-size: 24px; }
    .boxInfo .txt {
      margin: 10px 0 12px; }
    .boxInfo .owner_info {
      margin-right: auto; }
    .boxInfo .member_list {
      text-align: right; }

.content {
  padding: 30px 65px; }

.txt_top {
  display: flex;
  background: #F0F4F5;
  padding: 14px 65px !important;
}
.txt_top .txt_content_top {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: 1.4;
  width: 72%;
}
.txt_top .txt_content_top a {
  height: 100%;
}
.txt_top .txt_content_top a:hover {
  text-decoration: underline;
}
.txt_top .parent_owner_info {
  margin: 6px 0;
  position: relative;
  /*top: -10px;*/
  padding-left: 10px;
  font-size: 12px;
  width: 28%;
}

.boxInfo {
  width: 100% !important; }
  .boxInfo .ttl_team {
    font-size: 16px !important;
    line-height: 1.4; }
  .boxInfo .bar_top {
    margin-bottom: 10px; }
    .boxInfo .bar_top .percent_bar {
      width: 92%; }
  .boxInfo .bar_top_bottom {
    font-size: 14px;
    margin-bottom: 18px; }
    .boxInfo .bar_top_bottom .txt_percent {
      margin-left: 68px;
      color: #8e9aa6 }
    .boxInfo .bar_top_bottom .txt_date {
      font-size: 12px;
      display: inline-block;
    }
      .boxInfo .bar_top_bottom .txt_date > span {
        margin-left: 10px; }
  /*.boxInfo .member_list button {*/
    /*margin: 0 5px;*/
    /*padding: 0;*/
    /*width: 39px;*/
    /*height: 39px;*/
    /*background: none;*/
    /*border: 1px solid #8e9aa6;*/
    /*border-radius: 50%;*/
    /*outline: none;*/
    /*-webkit-appearance: none;*/
    /*-moz-appearance: none;*/
    /*appearance: none;*/
    /*cursor: pointer; }*/
  /*.boxInfo .tool, .boxInfo :global(.dropdown) {*/
    /*float: right; }*/
  .boxInfo .nav_info {
    display: flex;
  }

