.component {
  display: flex;
  background-color: #fff;
  /*background: `url(${imgSrc('common/bg_stripe.gif')}) #1f363e repeat 0 0`*/
  overflow: hidden;
  color: #626A7F;
  padding: 40px 40px 20px;
}
.groupBox {
  margin: auto 0;
  width: 70px;
}
.groupImage {
  display: block;
  margin: auto;
  width: 70px;
  min-height: 70px;
  border: 2px solid #95989A;
  border-radius: 50%;
  overflow: hidden;
  box-sizing: border-box;
}
.lastUpdate {
  font-size: x-small;
  text-align: center;
  margin: 0.5em 0;
}
.groupInfo {
  width: 100%;
  margin: 0 1em 0 40px;
}
.groupName {
  font-size: x-large;
  margin-bottom: 0.5em;
}
.groupDept {
  font-size: x-small;
}
.groupGoal {
  font-size: x-small;
  margin: 0.5em 0;
  vertical-align: top;
}
.groupLeader {
  display: block;
  width: 100%;
}
.groupPart {
  font-size: x-small;
  vertical-align: top;
  display: flex;
}
.groupLabel {
  white-space: nowrap;
  padding-right: 20px;
}
.moreLink {
  font-size: small;
  align-self: flex-end;
  padding: 8px;
  border: solid 1px #D8DFE5;
  background-color: #F0F4F5;
  color: #8E9AA6;
  white-space: nowrap;
}
