@charset "UTF-8";

/* -------- CLEAR -------- */
.cf:after {
  clear: both;
  display: block;
  content: ""; }

.alignC {
  text-align: center; }

/* ====================================================
プロファイル画面
==================================================== */
.group_list {
  min-width: 100%;
  font-size: 14px;
  margin-top: 100px;
}
.title {
  font-size: 18px;
}
.input {
  width: 400px;
  height: 30px;
  margin-top: 0.5em;
}
.fetching {
  display: inline-block;
  margin-top: -0.5em;
  position: relative;
  top: 10px;
  left: 2em;
  width: 30px;
  height: 30px;
  background: url(/img/rolling.svg) center no-repeat;
  background-size: contain;
}
.count {
  font-size: 18px;
  margin-bottom: 10px;
  margin-right: 10px;
  text-align: right;
}
.cont_box {
  background: #fff;
  margin-bottom: 1em;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.12);
}
.paging {
  display: table;
  margin: auto;
}
.pagination {
  display: inline-flex;
}
.pagination a {
  outline: none;
  margin: 0 0.5em;
}
.pagination .previous {
  margin-right: 2em;
}
.pagination .next {
  margin-left: 2em;
}
.pagination .previous:not(.disabled), .pagination .next:not(.disabled), .pagination .page:not(.disabled) {
  color: #4674c1;
  cursor: pointer;
}
.pagination .disabled {
  color: lightgray;
  cursor: default;
}
.pagination .page.active {
  color: inherit !important;
  cursor: default !important;
  font-weight: bold;
}
