/* DayPickerInput */

.inputContainer {
  display: inline-block;
}

.overlayWrapper {
  position: relative;
  z-index: 1;
}

.overlay {
  margin-top: 2px;
  position: absolute;
  background: white;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .15);
  box-shadow: 0 2px 5px rgba(0, 0, 0, .15);
}

/* DayPicker styles */

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  padding: .5rem 0;
  user-select: none;
}

.month {
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  user-select: none;
  margin: 0 0.5rem;
}

.navBar {
  position: absolute;
  left: 0;
  right: 0;
  padding: 0 .5rem;
}

.navButton {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}

.caption {
  display: table-caption;
  height: 1.5rem;
  text-align: center;
  font-size: small;
}

.caption div {
  margin-top: 0.45em;
}

.weekdays {
  display: table-header-group;
}

.weekdaysRow {
  display: table-row;
}

.weekday {
  display: table-cell;
  padding: .5rem;
  font-size: .875em;
  text-align: center;
  color: #8b9898;
}

.weekday abbr {
  text-decoration-line: initial;
}

.body {
  display: table-row-group;
}

.week {
  display: table-row;
}

.day {
  display: table-cell;
  padding: .5rem 0;
  border: 1px solid #eaecec;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
}

/* Default modifiers */

.today {
  color: #d0021b;
  font-weight: 500;
}

.disabled {
  color: #dce0e0;
  cursor: default;
  background-color: #eff1f1;
}

.outside {
  cursor: default;
  color: #dce0e0;
}

.selected:not(.disabled):not(.outside) {
  color: #FFF;
  background-color: #4A90E2;
}

/* Example of custom modifiers */

.sunday {
  border: 1px solid #4A90E2;
}

.sunday:not(.outside) {
  color: #4A90E2;
}

.green {
  color:springgreen;
  font-weight: bold;
  position: relative;
  z-index: 1;
}
