.circle {
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 50%;
}
.circle {
  display: inline-block;
  border-color: #8e9aa6;
  line-height: 35px;
  text-align: center;
  vertical-align: middle;
  margin-right: 15px;
  cursor: pointer;
}
