.component, .component a {
  display: flex;
  margin: auto 0;
  align-items: center;
}
.noLink {
  display: flex;
  width: 100%;
}
.avatar > img {
  border-radius: 50%;
}
.imageError .avatar > img {
  background-color: #8e9aa6;
  padding: 5%;
}
.hasName .avatar {
  margin-right: 1em;
}
.title {
  margin-bottom: 4px;
  color: #8e9aa6;
  font-size: x-small;
}
.name {
  margin: auto 1em auto 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  height: 100%;
  line-height: normal;
}
.noLink .name {
  min-width: 6em;
}
.component:not(.hasEditor) a, .component:not(.hasEditor) .name {
  overflow: hidden;
}
