.component {
  margin-bottom: 1em;
  padding: 1em 1em 1em 3em;
  border: 1px solid #bfbfbf;
  border-radius: 1em;
  font-size: 12px;
}
.heading {
  margin-bottom: 0.5em;
}
.subjectArea {
  display: flex;
}
.entity {
  float: left;
}
.subject {
  margin: auto 1em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 100%;
  flex: 1;
}
