.component {
  margin-bottom: 1em;
  padding: 1em 1em 1em 3em;
  border: 1px solid #bfbfbf;
  border-radius: 1em;
  font-size: 12px;
}
.heading {
  margin-bottom: 0.5em;
  white-space: pre-line;
}
.subjectArea {
  display: flex;
}
.entity {
  float: left;
  min-width: calc(40px + 1em + 6em);
}
.subject {
  display: flex;
  flex: 1;
  overflow: hidden;
  align-items: center;
}
.subjectLink:hover {
  text-decoration: underline;
}
.subjectText {
  margin: auto 0 auto 1em;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: normal;
  overflow-x: hidden;
}
