.component {
  display: flex;
  /*overflow: hidden;*/
  font-size: small;
  margin: 1px auto 0 auto;
  padding: 5px 65px;
  background-color: #fff;
  color: #333333;
  max-height: 500px;
  border-bottom: 1px solid #d8dfe5;
}
.header {
  display: flex;
  width: 100%;
  padding: 10px 65px;
  background-color: #fff;
  border-bottom: 1px solid #d8dfe5;
}
.kr {
  width: 38%;
}
.ratio {
  width: 60px;
}
.progress {
  width: 25%;
}
.owner {
  width: 19%;
}
.component .kr {
  position: relative;
  /*white-space: nowrap;*/
  /*overflow: hidden;*/
  /*text-overflow: ellipsis;*/
  margin: 1em 0;
}
.detail {
  font-size: smaller;
  margin-top: 1em;
}
.component .ratio {
  margin: auto 0;
  height: 100%;
}
.component .progress {
  margin: 10px 0;
  height: 100%;
}
.txt_date {
  margin-top: 1.25em;
}
.txt_date p {
  margin-top: 0.75em;
}
.action {
  display: flex;
  margin: auto 0;
  height: 100%;
  width: 22%;
}
.tool {
  min-width: 40px;
  height: 40px;
  border: 1px solid #8e9aa6;
  border-radius: 50%;
  /*overflow: hidden;*/
  display: inline-block;
  line-height: 35px;
  text-align: center;
  vertical-align: middle;
  margin-right: 15px;
  cursor: pointer;
}
button.tool {
  background-color: inherit;
  padding: 0;
}
button.tool:focus {
  outline: 0;
}
.toolSpace {
  width: 55px;
}
.circle_small {
  width: 27px;
  height: 27px;
  font-size: 10px;
  line-height: 27px;
}
.circle_plus {
  background-color: #8e9aa6;
  color: #fff;
}
.floatL {
  float: left; }
.user_info .avatar {
  margin-right: 10px; }
.user_info .info {
  display: table-cell;
  vertical-align: middle; }
.user_info .user_name {
  margin-top: 14px;
  color: #333333;
  font-size: 14px; }

.parentOkrToChange {
  display: flex;
}
.parentOkrToChange:before {
  content: " ";
  width: 26px;
  height: calc(50px + 1em);
  border-width: 2px;
  border-bottom-style: solid;
  border-left-style: solid;
  margin-left: calc(3em + 40px/2);
  margin-right: 0;
  margin-top: -1em;
}
