.component {
  display: flex;
  /*overflow: hidden;*/
  font-size: small;
  margin: 1px auto 0 auto;
  padding: 5px 65px;
  background-color: #fff;
  color: #333333;
  max-height: 500px;
  border-bottom: 1px solid #d8dfe5;
}
.header {
  display: flex;
  width: 100%;
  padding: 10px 65px;
  background-color: #fff;
  border-bottom: 1px solid #d8dfe5;
}
.okr {
  width: 38%;
}
.progress {
  width: 25%;
}
.owner {
  width: 19%;
}
.name {
  position: relative;
  width: 38%;
  /*white-space: nowrap;*/
  /*overflow: hidden;*/
  /*text-overflow: ellipsis;*/
  margin: 1em 0;
}
.detail {
  font-size: smaller;
  margin-top: 1em;
}
.progressColumn {
  width: 25%;
  margin: 10px 0px;
}
.progressBox {
  display: flex;
  /*width: 150px;*/
}
.progressPercent {
  margin-right: 8px;
  width: 3.2em;
  font-size: 14px;
  font-weight: bold;
  text-align: right;
}
.progressBar {
  height: 15px; /* height: 8px; */
  width: 120px;
  border-radius: 0px; /* border-radius: 10px; */
  background-color: #D8DFE5;
}
.progress {
  height: 100%;
  max-width: 100%;
  border-radius: 0px; /* border-radius: 4px; */
}
.progress.high {
  background-color: #42BBF8;
}
.progress.mid {
  background-color: #AFDB56;
}
.progress.low {
  background-color: #EFB04C;
}
.progressConstituents {
  color: #8e9aa6;
  margin-top: 0.75em;
  margin-left: 4.2em;
}
.txt_date {
  margin-top: 1.25em;
  margin-left: 4.2em;
}
.txt_date p {
  margin-top: 0.75em;
}
.ownerBox {
  width: 19%;
}
.action {
  display: flex;
  margin: auto 0;
  height: 100%;
  width: 22%;
}
.tool {
  width: 40px;
  height: 40px;
  border: 1px solid #8e9aa6;
  border-radius: 50%;
  /*overflow: hidden;*/
  display: inline-block;
  line-height: 35px;
  text-align: center;
  vertical-align: middle;
  margin-right: 15px;
  cursor: pointer;
}
button.tool {
  background-color: inherit;
  padding: 0;
}
button.tool:focus {
  outline: 0;
}
.checkinSpace {
  width: 55px;
}
.circle_small {
  width: 27px;
  height: 27px;
  font-size: 10px;
  line-height: 27px;
}
.circle_plus {
  background-color: #8e9aa6;
  color: #fff;
}
.floatL {
  float: left; }
.user_info .avatar {
  margin-right: 10px; }
.user_info .info {
  display: table-cell;
  vertical-align: middle; }
.user_info .user_name {
  margin-top: 14px;
  color: #333333;
  font-size: 14px; }

.parentOkrToChange {
  display: flex;
}
.parentOkrToChange:before {
  content: " ";
  width: 26px;
  height: calc(50px + 1em);
  border-width: 2px;
  border-bottom-style: solid;
  border-left-style: solid;
  margin-left: calc(3em + 40px/2);
  margin-right: 0;
  margin-top: -1em;
}
