.component {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: small;
  color: #333333;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.12);
}
.bars {
  max-height: 100%;
  /*overflow-y: auto;*/
  /*
  border-width: thin;
  border-left-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  */
  /*position: relative;*/
  /*top: 30px;*/
}
.footer {
  background-color: #fff;
  padding: 10px 0px;
}
.circle {
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 50%;
  overflow: hidden;
}
.circle {
  display: inline-block;
  border-color: #8e9aa6;
  line-height: 35px;
  text-align: center;
  vertical-align: middle;
  margin-right: 10px;
  cursor: pointer;
}
.alignC {
  text-align: center;
}
.addKR {
  background: none;
  border: none;
  padding: 0;
  font-size: inherit;
  cursor: pointer;
}
