.content, .warning {
  font-size: 14px;
  max-width: 50em;
}
.warning li {
  display: list-item;
  list-style: disc outside none;
  margin: 0.5em 0 0 2em;
  color: #f3b48c;
}
.choice {
  padding-top: 2em;
  font-size: 14px;
}
.choice label {
  margin-right: 2em;
}
.choice input {
  margin-right: 0.5em;
}
