.form {
  font-size: 13px;
}
.title {
  padding: 2em 2em 1em 2em;
  border-bottom: 1px solid #d8dfe5;
  font-size: 16px;
  font-weight: bolder;
}
.message {
  padding: 2em 2em 0 2em;
  font-size: 14px;
}
.content {
  padding: 2em 2em;
  font-size: 12px;
  max-width: 64em;
}
.content:not(.compact) {
  min-width: 48em;
}
.buttons {
  padding: 1.5em;
  background-color: #f0f4f5;
  display: flex;
}
.buttons button {
  color: #e6e9eb;
  min-width: 108px;
  min-height: 26px;
}
.buttons button:disabled {
  color: gray;
}
.filler {
  margin-right: auto;
}
.cancelButton {
  background-color: #8e9aa5;
  margin-left: 2em;
}
.submitButton {
  background-color: #094f97;
  margin-left: 2em;
}
.submitting .submitButton {
  background: #094f97 url(/img/rolling.svg) center no-repeat;
  background-size: contain;
  color: transparent !important;
}
.error {
  font-weight: bold;
  margin-top: 2em;
  color: #c5352e;
}
.form input, .form textarea {
  border: 1px solid #bfbfbf;
  padding: 4px;
}
.form input[type=number] {
  text-align: right;
}
.form input::-webkit-input-placeholder {
  color: #dddddd;
}
.form input:-moz-placeholder {
  /* FF 4-18 */
  color: #dddddd;
}
.form input::-moz-placeholder {
  /* FF 19+ */
  color: #dddddd;
}
.form input:-ms-input-placeholder {
  /* IE 10+ */
  color: #dddddd;
}
.form textarea::-webkit-input-placeholder {
  color: #dddddd;
}
.form textarea:-moz-placeholder {
  /* FF 4-18 */
  color: #dddddd;
}
.form textarea::-moz-placeholder {
  /* FF 19+ */
  color: #dddddd;
}
.form textarea:-ms-input-placeholder {
  /* IE 10+ */
  color: #dddddd;
}
.form input:disabled, .form textarea:disabled, .form option:disabled {
  background-image:
    repeating-linear-gradient(
      135deg,
      transparent,
      transparent 5px,
      transparent 1px,
      lightgray 6px /* determines size */
    );
}
.form section {
  display: flex;
  margin-bottom: 1em;
}
.form label {
  margin: 8px 1em auto 1em;
  white-space: nowrap;
  cursor: default;
}
.form label:first-child {
  margin-left: 0;
}
.form small {
  display: block;
  margin: 2px 0 0 0;
  font-size: xx-small;
}
