@charset "UTF-8";

/* -------- CLEAR -------- */
.cf:after {
  clear: both;
  display: block;
  content: ""; }

/* ====================================================
共通
==================================================== */
.ttl_setion {
  padding: 14px 70px 12px;
  background: #d8dfe5;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: .5px;
  box-shadow: 1px 0px 1px rgba(0,0,0,0.20); }

/* ====================================================
プロファイル画面
==================================================== */
.cont_box {
  background: #fff;
  margin-bottom: 10px;
  padding-bottom: 66px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.20); }

.profile_box {
  margin-bottom: 10px; }
  .profile_box .cont_box {
    padding: 30px 70px; }
  .profile_box .profile_img {
    width: 70px;
    float: left;
    text-align: center; }
    .profile_box .profile_img div {
      margin: 0 auto 10px;
      width: 70px;
      height: 70px;
      border-radius: 50%; }
    .profile_box .profile_img p {
      font-size: 12px; }
  .profile_box .profile_txt {
    margin-left: 34px;
    width: 800px;
    float: left; }
    .profile_box .profile_txt .user_name {
      margin-bottom: 10px;
      font-size: 20px; }

.user_info {
  margin-top: 10px;
  font-size: 14px;
}
.user_info .info {
  position: relative;
  top: 2px;
  margin-bottom: 7px;
  font-size: 10px;
}
.user_info .info_data {
  margin-left: 8px;
}
.groupLink {
  display: inline-block;
  color: #d8dfe5;
  text-decoration: underline !important;
}
.groups {
  font-size: 14px;
}
.td {
  width: 400px;
}
