@charset "UTF-8";

/* -------- CLEAR -------- */
.cf:after {
  clear: both;
  display: block;
  content: ""; }

/* ====================================================
共通
==================================================== */
.ttl_setion {
  padding: 14px 70px 12px;
  background: #d8dfe5;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: .5px;
  box-shadow: 1px 0px 1px rgba(0,0,0,0.20); }

/* ====================================================
プロファイル画面
==================================================== */
.cont_box {
  background: #fff;
  margin-bottom: 10px;
  padding-bottom: 66px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.20); }

.profile_box {
  margin-bottom: 10px; }
  .profile_box .cont_box {
    padding: 30px 70px; }
  .profile_box .profile_img {
    width: 70px;
    float: left;
    text-align: center; }
    .profile_box .profile_img div {
      margin: 0 auto 10px;
      width: 70px;
      height: 70px;
      border-radius: 50%; }
    .profile_box .profile_img p {
      font-size: 12px; }
  .profile_box .profile_txt {
    margin-left: 34px;
    width: 800px;
    float: left; }
    .profile_box .profile_txt .user_name {
      margin-bottom: 10px;
      font-size: 20px; }
    .profile_box .profile_txt .member_tree {
      margin-bottom: 18px;
      color: #d8dfe5;
      font-size: 14px; }
      .profile_box .profile_txt .member_tree span {
        position: relative;
        margin-left: .5em;
        padding-right: 1em;
        text-decoration: underline; }
        .profile_box .profile_txt .member_tree span:after {
          position: absolute;
          top: 50%;
          right: 0;
          margin-top: -3px;
          content: '';
          width: 6px;
          height: 6px;
          border-top: 2px solid #626a7f;
          border-right: 2px solid #626a7f;
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }
        .profile_box .profile_txt .member_tree span:first-of-type {
          margin-left: 0; }
        .profile_box .profile_txt .member_tree span:last-of-type:after {
          border-top: 0;
          border-right: 0; }
    .profile_box .profile_txt p {
      margin-bottom: 30px;
      font-size: 14px;
      line-height: 1.3; }
    .profile_box .profile_txt .leader {
      display: table;
      width: 100%; }
      .profile_box .profile_txt .leader div {
        display: table-cell;
        width: 38px;
        height: 38px;
        vertical-align: middle; }
        .profile_box .profile_txt .leader div img {
          border-radius: 50%; }
      .profile_box .profile_txt .leader dl {
        display: table-cell;
        padding-left: 10px;
        vertical-align: middle; }
        .profile_box .profile_txt .leader dl dt {
          font-size: 10px;
          margin-bottom: 5px;
          color: #8e9aa6; }
        .profile_box .profile_txt .leader dl dd {
          font-size: 14px; }
      .profile_box button {
        margin-top: 75px;
        padding: 0;
        width: 39px;
        height: 39px;
        float: right;
        background: none;
        border: 1px solid #8e9aa6;
        border-radius: 50%;
        outline: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        cursor: pointer; }
        .profile_box button:hover {
          opacity: .7; }

.user_info {
  margin-top: 10px;
  font-size: 14px;
}
.user_info .info {
  position: relative;
  top: 3px;
  margin-bottom: 7px;
  font-size: 10px;
}
.user_info .info_data {
  margin-left: 8px;
}
.groupLink {
  display: inline-block;
  color: #d8dfe5;
  text-decoration: underline !important;
}
.groups {
  font-size: 14px;
}
