@charset "UTF-8";

/* -------- CLEAR -------- */
.cf:after {
  clear: both;
  display: block;
  content: ""; }

/* ====================================================
共通
==================================================== */
.ttl_setion {
  padding: 10px 70px;
  background: #d8dfe5;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: .5px;
  box-shadow: 1px 0px 1px rgba(0,0,0,0.20); }

/* ====================================================
プロファイル画面
==================================================== */
.cont_box {
  display: flex;
  background: #fff;
  padding-bottom: 66px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.20); }

.profile_box {
  margin-bottom: 30px; }
  .profile_box .cont_box {
    padding: 30px 70px; }
  .profile_box .profile_img {
    width: 70px;
    float: left;
    text-align: center; }
    .profile_box .profile_img p {
      margin-top: 10px;
      font-size: 12px; }
  .profile_box .profile_txt {
    margin-left: 34px;
    float: left; }
    .profile_box .profile_txt .user_name {
      margin-bottom: 10px;
      font-size: 20px; }
      .profile_box .profile_txt .user_name .user_name_f {
        position: relative;
        left: -22px;
      }

.user_info {
  margin-top: 10px;
  font-size: 14px;
}
.user_info .info {
  display: flex;
}
.user_info small {
  font-size: 10px;
  margin-top: 5px;
  white-space: nowrap;
}
.user_info .info_data {
  margin-left: 8px;
  width: 100%;
}
.groupLink {
  display: inline-block;
  color: #d8dfe5;
  text-decoration: underline !important;
}
.groups {
  font-size: 14px;
}
