.component {
  display: flex;
  font-size: small;
  padding: 15px 65px;
  background-color: #f8f9fb;
  max-height: 500px;
  transition: all 0.3s ease-in;
  border-bottom: 1px solid #d8dfe5;
  border-collapse: collapse;
}
.collapsed {
  overflow: hidden;
  max-height: 0;
  padding: 0 65px;
  margin: 0 auto;
  transition: all 0.3s ease-out;
  border-bottom: 0;
}
.keyResultConnector {
  margin: auto 1em auto 0;
}
.header {
  display: flex;
  width: 100%;
  padding: 10px 40px;
  background-color: #fff;
}
.progress {
  width: 25%;
}
.name {
  position: relative;
  width: calc(40% - 20px);
  /*white-space: nowrap;*/
  /*overflow: hidden;*/
  /*text-overflow: ellipsis;*/
  margin: auto 0 auto 20px;
  height: 100%;
  padding-right: 10px;
}
.name:before {
  content: " ";
  width: 11px;
  background: url(/img/common/inc_sub_nav.png) no-repeat center;
  background-size: 100%;
  margin-top: -5px;
  left: -20px;
  color: inherit;
  position: absolute;
  top: 0;
  height: 100%;
}
.progressColumn {
  width: 25%;
  margin: auto 0;
  height: 100%;
}
.ownerBox {
  width: 19%;
}
.action {
  display: flex;
  margin: auto 0;
  padding-right: 42px;
}
.action > *:not(:last-child) {
  margin-right: 15px;
}
.tool {
  min-width: 40px;
  height: 40px;
  border: 1px solid #8e9aa6;
  border-radius: 50%;
  overflow: hidden;
  /*display: inline-table;*/
  line-height: 35px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  outline: none;
}
button.tool {
  background-color: inherit;
  padding: 0;
}
button.tool:focus {
  outline: 0;
}
.toolSpace {
  width: 40px;
}
