.component {
  display: flex;
  overflow: hidden;
  font-size: small;
  margin: 0.5em auto;
}
.header {
  display: flex;
  width: 100%;
  margin: auto 0;
}
.mapImage {
  display: inline-block;
  margin: auto 0 auto 1em;
  border: 2px solid #fff;
  border-radius: 50%;
  overflow: hidden;
  box-sizing: border-box;
}
.name {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: auto 1em;
}
.progressBox {
  display: flex;
  margin: auto 1em;
}
.progressPercent {
  margin: 0;
  width: 4em;
  font-size: x-small;
}
.progressBar {
  height: 12px;
  border: 1px solid #fff;
}
.ownerBox {
  display: flex;
  margin: auto 0;
}
.ownerImage {
  width: 3em;
  height: 3em;
  border: 2px solid #fff;
  border-radius: 50%;
  overflow: hidden;
  box-sizing: border-box;
}
.ownerName {
  margin: auto 1em auto 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.toolImage {
  display: inline-block;
  margin: auto 1em auto 0;
  border: 2px solid #fff;
  border-radius: 50%;
  overflow: hidden;
  box-sizing: border-box;
}
