.component {
  overflow: hidden;
  font-size: small;
  margin: 1px auto 0 auto;
  padding: 5px 40px;
  background-color: #fff;
  color: #626A7F;
  max-height: 500px;
  transition: all 0.3s ease-in;
}
.normal {
  display: flex;
}
.full{
  display: block;
}
.collapsed {
  max-height: 0;
  padding: 0 40px;
  margin: 0 auto;
  transition: all 0.3s ease-out;
}
.keyResult {
  background-color: #F7F9F9;
}
.keyResultConnector {
  margin: auto 1em auto 0;
}
.header {
  display: flex;
  width: 100%;
  padding: 1em 0 0.5em 0;
  background-color: #fff;
}
.mapImage {
  display: none;
  width: 20px;
  height: 20px;
  min-height: 2.5em;
  margin: auto 0 auto 1em;
  /*border: 2px solid #626A7F;*/
  background-color: #626A7F;
  border-radius: 50%;
  overflow: hidden;
  box-sizing: border-box;
}
.name {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: auto 0;
  font-size: 16px;
}
.detailed .name {
  margin: 1em 0;
}
.detail {
  font-size: smaller;
  margin-top: 1em;
}
.progressColumn {
  margin: auto 30px auto 1em;
}
.full .progressColumn {
  margin: auto 0;
}
.progressBox {
  display: flex;
  /*width: 150px;*/
}
.progressPercent {
  margin-right: 4px;
  width: 4em;
  font-size: x-small;
  font-weight: bold;
}
.progressBar {
  height: 8px;
  width: 80px;
  border-radius: 10px;
  background-color: #D8DFE5;
}
.full .progressBar {
  width: 100%;
}
.progress {
  height: 100%;
  max-width: 100%;
  border-radius: 4px;
}
.progress.high {
  background-color: #42BBF8;
}
.progress.mid {
  background-color: #AFDB56;
}
.progress.low {
  background-color: #EFB04C;
}
.progressConstituents {
  font-size: x-small;
  margin-top: 0.75em;
}
.ownerBox {
  display: flex;
  margin: auto 0;
  width: 150px;
}
.full .ownerBox {
  margin: 1em 0;
}
.ownerImage {
  width: 3em;
  height: 3em;
  border: 2px solid #fff;
  background-color: #626A7F;
  border-radius: 50%;
  overflow: hidden;
  box-sizing: border-box;
}
.ownerName {
  margin: auto 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: x-small;
  font-weight: bold;
}
.krCount {
  margin: auto;
}
.toolImage {
  display: inline-block;
  margin: auto 1em auto 0;
  /*border: 2px solid #626A7F;*/
  background-color: #626A7F;
  border-radius: 50%;
  overflow: hidden;
  box-sizing: border-box;
  width: 20px;
}
.detailsLink {
  color: inherit;
}
