.content {
  padding: 20px 10px;
}
.progressChart, .okrCountChart {
  fill: #626A7F;
}
.progressChart {
  margin-left: 40px;
}
.okrCountChart {
  margin-right: 40px;
  float: right;
}
.progressChart > text:first-child, .okrCountChart > text:first-child {
  font-size: x-small;
}
