.content {
  padding: 5px 10px;
  height: calc(100% - 40px);
  display: flex;
}
.charts {
  margin: auto;
}
.progressChart, .okrCountChart {
  fill: #626A7F;
  margin: auto 0 auto 25px;
}
.okrCountChart {
  margin-right: 25px;
}
.progressChart > text:first-child, .okrCountChart > text:first-child {
  font-size: x-small;
}
