/* -------- CLEAR -------- */
.cf:after {
  clear: both;
  display: block;
  content: ""; }

/* -------- CLEAR -------- */
.floatL {
  float: left; }

.floatR {
  float: right; }

.alignC {
  text-align: center; }


.overall_info .basic_info figure figcaption {
  margin-top: 10px;
  font-size: 12px;
}
.boxInfo {
  width: calc(100% - 103px);
}
.boxInfo .ttl_company {
  font-size: 20px;
}
.content {
  padding: 30px 65px;
}

.companyPart {
  margin-top: 10px;
}
.title {
  font-size: 10px;
  margin-bottom: 5px;
  color: #8e9aa6;
}
.data {
  margin-bottom: 10px;
  white-space: pre-line;
}
