.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 0 60px;
}
.userInfo {
  margin-top: 30px;
}
.okrList {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
}
