.container {
  display: flex;
  flex-direction: column;
  /*height: 100%;*/
  width: 100%;
  padding: 2em 60px 0 60px;
  overflow: scroll;
}
.sectionLabel {
  background-color: #D8DFE5;
  color: #626A7F;
  font-size: 12px;
  padding: 0 40px;
  height: 32px;
  display: flex;
  align-items: center;
}
.tabSelected {
  background-color: #8E9AA4;
  padding: 1em;
  border-radius: 1em;
  height: 0;
  display: flex;
  align-items: center;
  color: white;
}
.tabNormal {
  color: #626A7F;
}
.tabSelected, .tabNormal {
  font-size: smaller;
  margin-left: -1em;
  margin-right: 4em;
}
.navigator {
  display: block;
  width: 100%;
}
.backLink, .naviLink {
  color: #8D99A5;
  padding: 1em;
  font-size: smaller;
  border: 1px solid;
  border-radius: 1em;
  height: 0;
  display: flex;
  align-items: center;
}
.backLink {
  float: left;
  margin: 0 0.5em 1em 0;
}
.naviLink {
  float: right;
  margin: 0 0 1em 0.5em;
}
.naviLink.disabled {
  cursor: default;
  color: lightgray;
}
.backLink:before, .prevLink:before {
  display: inline-block;
  width: 25px;
  height: 25px;
  padding-right: 6px;
  background: transparent url(/img/common/inc_arrow_l.png) no-repeat -2px 0px;
  vertical-align: middle;
  content: "";
}
.nextLink:after {
  display: inline-block;
  width: 25px;
  height: 25px;
  padding-right: 6px;
  background: transparent url(/img/common/inc_arrow_r.png) no-repeat 9px 0px;
  vertical-align: middle;
  content: "";
}
.header {
  display: flex;
  margin-bottom: 1.5em;
}
.info {
  width: 100%;
  margin-right: 1em;
}
.overall {
  background-color: #fff;
}
.okrList {
  display: flex;
  flex-direction: column;
  height: 100%;
  /*margin-top: 20px;*/
  margin-bottom: 30px;
}
.spinner {
  height: 100%;
  width: 100%;
  background: url(/img/rolling.svg) center no-repeat;
}
