.spinner {
  height: 100%;
  width: 100%;
  background: url(/img/rolling.svg) center no-repeat;
}

.okrAlignChart {
  fill: #626A7F;
}
.okrAlignChart path[fill="none"] {
  stroke: #626A7F;
}
.header {
  padding: 15px 8px 5px 0px;
  border-bottom: 1px solid #d8dfe5;
  background-color: #fff;
  font-size: 13px;
}
.content {
  background-color: #fff;
}
.header .group {
  margin-right: auto;
}
.content .group {
  width: 100%;
}
.detail {
  padding: 0.75em 0;
  border-bottom: 1px solid #d8dfe5;
  display: flex;
}
.chart {
  width: 480px;
}
.header > div, .content > div {
  max-width: calc(480px + 270px + 48px);
  margin: 0 auto;
  display: flex;
}
.list {
  width: calc(100% - 480px);
  margin-bottom: 0.75em;
  font-size: 14px;
}
.numberOfOkrs {
  width: 48px;
  text-align: right;
}
.list .numberOfOkrs {
  margin: auto 0;
  padding-right: 8px;
}
