/* -----------------------------------
*  Main
*  ----------------------------------- */
.component {
  height: 100vh;
  overflow: hidden;
  color: #fff;
  font-size: 0.9rem;
  box-shadow: 1px 0px 1px rgba(0,0,0,0.40); /* box-shadow: 0px 0px 10px 0px #000; */
  position:relative;
  z-index:2;
  background-color: #626A7F;
  box-sizing: border-box;
  transition: 0.3s width;
}
.component.isExpanded {
  width: 200px;
}
.component:not(.isExpanded) {
  width: 54px;
}
.toggleArea {
  padding: 10px 15px;
  display: flex;
  justify-content: flex-end;
}
.toggleButton {
  cursor: pointer;
  color: #fff;
  background-color: transparent;
  border: none;
  font-size: 20px;
}
.toggleButton:focus {
  outline: 0;
}
/* -----------------------------------
 *  Header
 *  ----------------------------------- */
.header {
  background-color: #27588F;
  padding: 9px 20px;
  height: 43px;
  box-sizing: border-box;
}
.headerLogo {
  box-sizing: border-box;
  width: 90px;
}
/* -----------------------------------
 *  Section
 *  ----------------------------------- */
.sectionContainer {
  margin-bottom: 30px;
}
.sectionTitle {
  padding-top: 5px;
  padding-bottom: 5px;
  color: #818C9A;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* -----------------------------------
 *  Section Item
 *  ----------------------------------- */
.sectionItem, .settingItem {
  height: 44px;
  align-items: center;
  justify-content: space-between;
}
.sectionTitle.isExpanded, .sectionItem.isExpanded, .settingItem.isExpanded {
  padding-left: 20px;
}
.sectionTitle:not(.isExpanded) {
  text-align: center;
}
.sectionItem:not(.isExpanded) {
  padding-left: 8px;
}
.sectionItem.isActive, .settingItem.isActive {
  background-color: slategray;
}
.settingItem {
  display: flex;
}
.settingItem:not(.isExpanded) {
  padding-left: 14px;
}
.settingItem label {
  margin: auto 1em;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  cursor: pointer;
}
