.default {
  height: 100vh;
  background-image: url(/img/top_back.png);
  background-size: cover;
}
.shadow {
  height: 100%
}
.container {
  width: 300px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
