.container {
  height: 100%
}
.container:before {
  content: " ";
  height: 32px;
  width: calc(100% - 2 * 8px);
  padding: 8px;
  background: #094f97 url(/img/skrum_logo.svg) no-repeat;
  background-origin: content-box;
  background-size: contain;
  /*left: 0;*/
  /*color: inherit;*/
  position: absolute;
  /*speak: none;*/
}
.content {
  width: 40em;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.content h1 {
  margin: 0 0 4em 140px;
  font-size: large;
}
.content section {
  margin-bottom: 1em;
  display: flex;
}
.content label {
  margin: auto 0;
  padding-right: 0.5em;
  font-size: smaller;
  text-align: right;
  width: 140px;
}
.content input[type="email"] {
  width: 20em;
}
.error {
  color: red;
}
.error, .content button[type="submit"], .posting {
  margin: 1em 0 0 140px;
}
.content button, .posting {
  width: 120px;
}
.content button {
  font-size: smaller;
  display: block;
  border: none;
  padding: 10px 0;
  border-radius: 3px;
  cursor: pointer;
}
.posting {
  height: 40px;
  background: url(/img/rolling.svg) center no-repeat;
  background-size: contain;
}
.content strong {
  font-weight: bold;
}
.container p {
  line-height: 1.5;
}
