@charset "UTF-8";
.content {
  -webkit-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  height: 100%;
  /*overflow-y: overlay;*/
}
.spinner {
  margin: auto;
  height: 38px;
  background: url(/img/rolling.svg) center no-repeat;
  background-size: contain;
  width: 100%;
}
