@charset "UTF-8";
/* ====================================================
プロファイル画面
==================================================== */
.name_a {
  border-bottom: 1px solid #d8dfe5;
  padding-left: 70px;
  width: 405px; }
.position {
  width: 500px; }
.progressBox {
  display: flex;
}
.progressPercent {
  margin-right: 4px;
  width: 3.5em;
  font-weight: bold;
  text-align: right;
}
.progressBar {
  height: 15px;
  width: 120px;
  border: 1px solid #fff;
}
