@charset "UTF-8";
/* ====================================================
プロファイル画面
==================================================== */
.name {
  border-bottom: 1px solid #d8dfe5;
  padding-left: 70px !important;
  width: 45%; }
.position {
  width: 50%; }
.delete {
  width: 10px;
  text-align: right;
  cursor: pointer;
}
.progressBox {
  display: flex;
}
.progressPercent {
  margin-right: 4px;
  width: 3.5em;
  font-weight: bold;
  text-align: right;
}
.progressBar {
  height: 15px;
  width: 120px;
  border: 1px solid #fff;
}
