@charset "UTF-8";
/* ====================================================
プロファイル画面
==================================================== */
.name {
  border-bottom: 1px solid #d8dfe5;
  padding-left: 70px !important;
  width: 45%; }
.position {
  width: 50%; }
.delete {
  width: 10px;
  text-align: right;
  cursor: pointer;
}
.progressBox {
  display: flex;
}
.progressPercent {
  margin-right: 4px;
  width: 3.5em;
  font-weight: bold;
  text-align: right;
}
.progressBar {
  height: 15px;
  width: 120px;
  border-radius: 0px;
  background-color: #D8DFE5;
}
.progress {
  height: 100%;
  max-width: 100%;
  border-radius: 0px;
}
.progress.high {
  background-color: #42BBF8;
}
.progress.mid {
  background-color: #AFDB56;
}
.progress.low {
  background-color: #EFB04C;
}
