.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: scroll;
}
.sectionLabel {
  background-color: #D8DFE5;
  color: #626A7F;
  font-size: 12px;
  padding: 0 40px;
  height: 32px;
  display: flex;
  align-items: center;
}
.okr {
}
.keyResults {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
}
.spinner {
  height: 100%;
  width: 100%;
  background: url(/img/rolling.svg) center no-repeat;
}
.error {
  color: crimson;
}