@charset "UTF-8";
/* ====================================================
プロファイル画面
==================================================== */
.header, .row {
  display: flex;
  border-bottom: 1px solid #d8dfe5;
}
.header {
  padding: 15px 2em 12px 70px;
}
.row {
  padding: 10px 2em 10px 70px;
}
.row > span {
  margin: auto 0;
}
.name {
  width: 40%;
}
.nameAdmin {
  width: 30%;
}
.position {
  width: 20%;
}
.progress, .progressBox {
  width: 30%;
}
.update {
  width: 30%;
}
.updateAdmin {
  width: 20%;
}
.delete {
  width: 10px;
  cursor: pointer;
  border: none;
  background-color: inherit;
  padding: 0;
  vertical-align: text-top;
  margin-left: auto;
}
.delete:focus {
  outline: 0;
}
.progressBox {
  display: flex;
  margin: auto 0;
}
.progressPercent {
  margin-right: 4px;
  width: 3.5em;
  font-weight: bold;
  text-align: right;
}
.progressBar {
  height: 15px;
  width: 120px;
  border-radius: 0px;
  background-color: #D8DFE5;
}
.progress {
  height: 100%;
  max-width: 100%;
  border-radius: 0px;
}
.progress.high {
  background-color: #42BBF8;
}
.progress.mid {
  background-color: #AFDB56;
}
.progress.low {
  background-color: #EFB04C;
}
