@charset "UTF-8";
/* ====================================================
プロファイル画面
==================================================== */
    .name_a {
      border-bottom: 1px solid #d8dfe5;
      padding-left: 70px;
      width: 405px; }
    .position {
      width: 500px; }
