@charset "UTF-8";
/* ====================================================
プロファイル画面
==================================================== */
.name {
  border-bottom: 1px solid #d8dfe5;
  padding-left: 70px !important;
  width: 40%; }
.position {
  width: 20%; }
.update {
  width: 35%; }
.delete {
  width: 10px;
  text-align: right;
  cursor: pointer;
}
