@charset "UTF-8";
.content {
  border-bottom: 1px solid #82868c;
  padding: 0 1.5em;
  font-size: 0.8em;
  color: #fff;
  display: block;
}
.content.unread {
  background-color: #6c768a;
}
.content.current {
  background-color: #7f8f9f;
}
.content header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.icon {
  flex-basis: calc(34px + 1em);
  display: inline-block;
  padding: 1em 1em 0 0;
}
.text {
  flex-basis: calc(100% - 2.2em);
  display: inline-block;
  width: calc(100% - 3em);
  padding-top: 1em;
}
.typeTime {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  font-size: 0.8em;
  padding-top: 0.3em;
}
.type {
  margin-left: auto;
  flex-basis: 10em;
  text-align: center;
  border-radius: 1em;
  margin-bottom: 0.2em;
}
.time {
  margin-right: auto;
  flex-basis: calc(100% - 5.5em);
  text-align: right;
}
.name {
  margin-top: 0.3em;
  font-size: 0.8em;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 1em;
}
.body {
  margin: 0.5em 0 1em;
  font-size: 0.8em;
  max-height: 2em;
  overflow: hidden;
  display: flex;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
