@charset "UTF-8";
.btn, .disable_btn {
  margin-left: 2em;
  width: 150px;
  height: 38px;
}
.btn {
  vertical-align: bottom;
  background: none;
  border: 0px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 14px;
  border-radius: 19px;
  background-color: #2562b2;
}
.btn:enabled {
  color: #fff;
  cursor: pointer;
}
.btn:enabled:hover {
  opacity: .7;
}
.btn:disabled {
  color: gray;
  cursor: default;
}
.disable_btn {
  background: url(/img/rolling.svg) center no-repeat;
  background-size: contain;
}
.input {
  width: 400px;
  height: 30px;
  margin-top: 30px;
}
.group_search {
  display: flex;
  margin: 30px 30px 0px 30px;
}
.group_search_label {
  word-break: keep-all;
  margin: auto 1em auto 50px;
  height: 100%;
}
.group_search_box input {
  width: 600px;
  height: 30px;
  margin-top: 3px;
}
.radio {
  margin-left: 30px;
}
.radio input {
  margin-right: 0.5em;
}
.title {
  font-size: 18px;
}
.search_notice {
  margin-left: 258px;
  font-size: xx-small;
}
