/*
const gap = '1em';
const margin = `${gap} ${gap} auto ${gap}`;
const style = {
  krNav: {
    display: 'flex',
    background: `url(${imgSrc('common/bg_stripe.gif')}) #1f363e repeat 0 0`,
    overflow: 'hidden',
    color: '#fff',
  },
  isOpenTopLevel: {
    height: '230px',
  },
  isOpen: {
    height: '160px',
  },
  krNavBody: {
    position: 'relative',
    height: '100%',
    width: '100%',
    margin: margin,
  },
  kNavBodyInnerTopLevel: {
    height: `calc(100% - 2 * ${gap} - 52px)`,
    overflow: 'scroll',
  },
  kNavBodyInner: {
    height: `calc(100% - 2 * ${gap})`,
    overflow: 'scroll',
  },
  krNavTitle: {
  },
  krNavContent: {
    fontSize: 'x-small',
  },
  isHide: {
    display: 'none',
  },
  tools: {
    margin: margin,
    height: '100%',
  },
  toolsInner: {
    height: `calc(100% - 2 * ${gap} - 36px)`,
  },
  typeImage: {
    minWidth: '36px',
    minHeight: '36px',
    border: '2px solid #fff',
    borderRadius: '50%',
    overflow: 'hidden',
    boxSizing: 'border-box',
  },
  lockImage: {
    minWidth: '36px',
    minHeight: '36px',
    border: '2px solid #fff',
    borderRadius: '50%',
    overflow: 'hidden',
    boxSizing: 'border-box',
  },
  krNavUserImage: {
    display: 'block',
    width: '36px',
    minHeight: '36px',
    margin: 'auto',
    border: '2px solid #fff',
    borderRadius: '50%',
    overflow: 'hidden',
    boxSizing: 'border-box',
  },
  toolImage: {
    fontSize: 'large',
    textAlign: 'center',
    marginBottom: '0.5em',
  },
  isActive: {
    backgroundColor: '#38b6a5',
  },
  progressBoxTopLevel: {
    marginTop: '1em',
    width: '100%',
  },
  progressBox: {
    margin: margin,
    width: '280px',
  },
  progressBar: {
    height: '20px',
    width: '100%',
    border: '1px solid #fff',
  },
  progressPercent: {
    float: 'left',
    margin: '0',
    fontSize: 'medium',
    fontWeight: 'bold',
  },
  progressDivisor: {
    float: 'right',
    margin: '0',
    fontSize: 'small',
  },
  userBox: {
    margin: margin,
  },
  userName: {
    margin: '0.5em auto',
    textAlign: 'center',
    fontSize: 'large',
  },
  userInfo: {
    margin: '0 auto',
    textAlign: 'center',
    fontSize: 'x-small',
    whiteSpace: 'nowrap',
  },
};
*/