/*
const gap = '1em';
const style = {
  okrNav: {
    display: 'flex',
    background: `url(${imgSrc('common/bg_stripe.gif')}) #1f363e repeat 0 0`,
    overflow: 'hidden',
    color: '#fff',
  },
  isOpen: {
    height: '48px',
  },
  isHide: {
    display: 'none',
  },
  userBox: {
    display: 'flex',
  },
  userImage: {
    display: 'block',
    minWidth: '36px',
    minHeight: '36px',
    margin: 'auto',
    border: '2px solid #fff',
    borderRadius: '50%',
    overflow: 'hidden',
    boxSizing: 'border-box',
  },
  userName: {
    margin: 'auto 1em',
    textAlign: 'center',
  },
  title: {
    position: 'relative',
    width: '100%',
    whiteSpace: 'nowrap',
    overflow: 'hidden',
    textOverflow: 'ellipsis',
    margin: 'auto ' + gap,
    fontSize: 'small',
  },
  weighting: {
    width: '3.5em',
    fontSize: 'large',
    margin: '0.5em 0',
    textAlign: 'right',
  },
  weightingPercent: {
    margin: 'auto 1em auto 0.25em',
  },
  lockImage: {
    minWidth: '36px',
    height: '36px',
    border: '2px solid #fff',
    borderRadius: '50%',
    overflow: 'hidden',
    boxSizing: 'border-box',
    margin: 'auto',
  },
};
*/