@charset "UTF-8";
/* ====================================================
プロファイル画面
==================================================== */
.td {
  margin: 10px 0px;
}
.name {
  border-bottom: 1px solid #d8dfe5;
  padding-left: 70px !important;
  width: 35%; }
.date {
  width: 20%; }
.default {
  width: 20%
}
.delete {
  width: 10px;
  text-align: right;
  cursor: pointer;
}
.check {
  width: 15px;
  padding-left: 1px;
}
.hyphen {
  margin-left: 44px;
}
.circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
}
.circle {
  display: inline-block;
  border-color: #8e9aa6;
  line-height: 35px;
  text-align: center;
  vertical-align: middle;
  margin-left: 30px;
  background-color: #2562b2;
}
.circle_inactive {
  width: 35px;
  height: 35px;
  border: 1px solid #8e9aa6;
  line-height: 35px;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  margin-left: 30px;
  cursor: pointer;
}
