@charset "UTF-8";

/* -------- CLEAR -------- */
.cf:after {
  clear: both;
  display: block;
  content: ""; }

.alignC {
  text-align: center; }

/* ====================================================
共通
==================================================== */
.ttl_setion {
  padding: 14px 70px 12px;
  background: #d8dfe5;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: .5px;
  box-shadow: 1px 0px 1px 1px rgba(0,0,0,0.12); }

/* ====================================================
プロファイル画面
==================================================== */
.cont_box {
  background: #fff; }

.member_list .cont_box {
  margin-bottom: 80px;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.12); }

.member_list table {
  width: 100%;
  font-size: 14px; }
  .member_list table th {
    padding: 15px 0 12px;
    border-bottom: 1px solid #d8dfe5; }
  .member_list table td {
    padding: 10px 0;
    border-bottom: 1px solid #d8dfe5; }
    .member_list table td:first-of-type {
      padding-left: 70px; }
    .member_list table td span {
      margin-right: 10px; }

.title {
  margin-top: 100px;
  font-size: 18px;
}
.input {
  width: 400px;
  height: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}
